
doctype 5
html
  head
    title
    meta(charset="utf-8")
    link(rel="stylesheet",href="page.css")
    //- script(src="http://183.147.39.19:7777/doodle.js")
    //- script(src="https://a.alipayobjects.com/seajs/1.2.1/sea.js")
    //- script(src="http://softwaremaniacs.org/media/soft/highlight/highlight.pack.js")
    script(src="https://raw.github.com/chjj/marked/master/lib/marked.js")
    script(src="http://jiyinyiyong.github.com/lilyturf/page/lilyturf.js")
    script(src="handle.js")
  body
    #page
    #list
      .title
        span.repo
        span.path
      .list
    #user
      .profile
      .repos